header.bg-black.p-9
            .container.mx-auto.flex.justify-center.items-center
                h1(class='text-4xl text-white font-extrabold text-center') Bienes 
                    span.font-normal Raices

                //- nav(class='my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white ')
                    a(href='/auth/newUser' class='hover:underline') Crear Cuenta
                    a(href='/auth/login' class='hover:underline') Iniciar Sesión
                        